.container,
.divider {
   padding-top: 2rem;
}

.trash {
   padding-left: 3rem;
}

i:hover {
   opacity: .9;
}

.item {
   font-size: 150%;
}

#footer {
   color: #767676;
   position: absolute;
   bottom: 0;
   padding: 1rem;
}

#footer:hover {
   color: black;
}

@media (max-width: 800px) {
   button {
      margin-top: 1rem !important;
      float: right;
   }
}

@media (max-width: 450px) {
   button {
      float: left;
   }
   .trash {
      padding-left: 1.5rem;
   }
}